/*-----------VAR-----------*/
    /*-BORDER-*/
$borderRadius: 25px;
    /*-COLOR-*/
$backgroundWhite: white;
$backgroundgraylight: #f8f7f5;
$graybutton:#eff0f2;
/*-----------@Mixin-----------*/
@mixin color($element, $value){
    #{$element} : $value;
}

@mixin margin(){
   margin-right: auto;
   margin-left: auto;
}

@mixin tailleCartes(){
    width: 350px;
    height: 500px;
}

/*-----------ALL-----------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

button{
    border:none;
    @include color(background,$backgroundWhite);
    -webkit-box-shadow: 24px 29px 15px 5px rgba(0,0,0,0.13); 
    box-shadow: 24px 29px 15px 5px rgba(0,0,0,0.13);
}


body {
    @include color(background,#f69703);
    transition: all 1s ease-out;
}

/*--------BODY--------*/

#container_button{
  
    @include margin();
    width: 660px;
    height: 200px;
    border-radius: $borderRadius;
    margin-top: 400px;
    /*1 mettre transition sur element princiaple*/
    /*Ensuite faire l'appel dans le hover*/
    transition: all 1s ease-out;
    transition: transform 0.5s;
    @include color(background,white);

    .container_button_text{
        text-align: right;
    }

    .container_button_text{
        font-size: 2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;

        margin-right: 90px;
        padding-top: 80px;
    }

    /*fond yellow light*/
    .container_button_fond{
        display: flex;
        justify-content: center;
        align-items: center;
        @include color(background,#f1d080);

        pointer-events:none;
        /*PICTURE BED*/
        background-image: url("Picture/green_double-room_icon-icons.com_59398-icon-icons.com.png");
        background-repeat: no-repeat;
        background-size: 100px;
        background-position: center;
        
        width: 200px;
        height: 200px;
        /*POSITION -> BACK ORANGE*/
        margin-top: -128px;
        
        border-radius: 25px 0px 0px 25px;

         /*INVISIBLE*/
         overflow: hidden;
         /*ANIM*/
         transition: all 1s ease-out;
    }


        .container_button_fond_bag_One{
            position: relative;
            z-index: 2;
            width:60px;
          
            top: 30px;
            margin-right:100px;
             /*ANIM*/
             /*ALL -> TOUT*/
             transition: all 1s ease-out;
        }

        .container_button_fond_bag_Two{
            position: relative;
            z-index: 3;
            width:70px;
           
            top: 30px;
            margin-left:100px;
             /*ANIM*/
            transition: all 1s ease-out;
        }

}

@keyframes hopping{
    /*ETAPE DE TRANSFORMATIONS*/
 0%{
    transform: scale(1);
 }

 25%{
    transform: scale(0.98);
 }

 50%{
    transform: scale(1);
 }

 75%{
    transform: scale(0.98);
}

100%{
    transform: scale(1);
    }
}

   /*HOVER TOUJOURS EN DEHORS --> ATTENTION*/
   /*Pas plus de 2 agruments*/


   #container_button:hover{
    /*ANIMATION BUTTON KEYFRAME*/
    animation-name: hopping;
    animation-duration: 1s;
    /*Permet un mouvement plus fluide*/
    animation-timing-function: ease-in-out;
    transition-duration: 1s;

    .container_button_fond{
        background-color: #6bceed;
        background-size: 90px;
    }

    .container_button_fond_bag_One{
        margin-right:10px;
        transition-duration: 1s;
    }

    .container_button_fond_bag_Two{
        margin-left:10px;
        transition-duration: 1s;
    }

}

