/*-----------VAR-----------*/
/*-BORDER-*/
/*-COLOR-*/
/*-----------@Mixin-----------*/
/*-----------ALL-----------*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: white;
  -webkit-box-shadow: 24px 29px 15px 5px rgba(0, 0, 0, 0.13);
  box-shadow: 24px 29px 15px 5px rgba(0, 0, 0, 0.13);
}

body {
  background: #f69703;
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/*--------BODY--------*/
#container_button {
  margin-right: auto;
  margin-left: auto;
  width: 660px;
  height: 200px;
  border-radius: 25px;
  margin-top: 400px;
  /*1 mettre transition sur element princiaple*/
  /*Ensuite faire l'appel dans le hover*/
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  background: white;
  /*fond yellow light*/
}

#container_button .container_button_text {
  text-align: right;
}

#container_button .container_button_text {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  margin-right: 90px;
  padding-top: 80px;
}

#container_button .container_button_fond {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f1d080;
  pointer-events: none;
  /*PICTURE BED*/
  background-image: url("Picture/green_double-room_icon-icons.com_59398-icon-icons.com.png");
  background-repeat: no-repeat;
  background-size: 100px;
  background-position: center;
  width: 200px;
  height: 200px;
  /*POSITION -> BACK ORANGE*/
  margin-top: -128px;
  border-radius: 25px 0px 0px 25px;
  /*INVISIBLE*/
  overflow: hidden;
  /*ANIM*/
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#container_button .container_button_fond_bag_One {
  position: relative;
  z-index: 2;
  width: 60px;
  top: 30px;
  margin-right: 100px;
  /*ANIM*/
  /*ALL -> TOUT*/
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

#container_button .container_button_fond_bag_Two {
  position: relative;
  z-index: 3;
  width: 70px;
  top: 30px;
  margin-left: 100px;
  /*ANIM*/
  -webkit-transition: all 1s ease-out;
  transition: all 1s ease-out;
}

/*HOVER TOUJOURS EN DEHORS --> ATTENTION*/
/*Pas plus de 2 agruments*/
#container_button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#container_button:hover .container_button_fond {
  background-color: #6bceed;
  background-size: 90px;
}

#container_button:hover .container_button_fond_bag_One {
  margin-right: 10px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

#container_button:hover .container_button_fond_bag_Two {
  margin-left: 10px;
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}
/*# sourceMappingURL=style.css.map */